@keyframes navbar-color-change{
    0% {
        background: midnightblue;
      }
      100% {
        background: #333;
}
}
@keyframes change-background {
    0% {
      background: #333;
    }
    100% {
      background: midnightblue;
    }

}
@keyframes change-color{
    from{
        color: #333;
    }
    
    to{
        color: white;
    }

}
#navigate ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 30 30 30px;
    
    
}
#navigate li{
    display: inline;
    position: relative;
}

h2{
    color: White;
    text-align: center;
    margin-top: 120px;
    font-size: 50px;
}
#navigate{

    text-align: center;
    margin: 7% 0 0px;
    
}

#navigate a{
    position: fixed;
    top: 1%;
    color: white;
    border: none;
    position: relative ;
    font-size: 30px;
    background-color: #333;
    margin: 0 -4 0px;
    padding: 15 15 15px;
    border: 3px solid black;
    border-top: none;
    border-bottom: none;
    text-decoration: none;
    
    
}

body{
    background-color: midnightblue;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: change-background 8s ease ;
}

